body {
  font-family: Arial;
  background: #fdf9f9;
  padding: 20px;
}
header, nav {
  background: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
}
a {
  color: white;
  margin: 0 10px;
}
.product {
  background: white;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  width: 200px;
}
